@charset "UTF-8";
/* Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
}

/* Seções */
section.conteudo_flexivel{
    background-color: dimgrey;
}