@charset "UTF-8";
/* Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
p, h1, h2{
    margin-bottom: 10px;
    text-align: justify;
}
/* HEADER */
header, section.normal{
    padding: 20px;
}
/* Seções */
section.conteudo_flexivel{
    background-color: dimgrey;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}
article.midia_texto{
    display: flex;
    flex-flow: row wrap-reverse;
}
article.texto_midia{
    display: flex;
    flex-flow: row wrap;
}
article > div.texto{
    flex: 1 1 500px;
}
article > div.midia{
    flex: 1 0 400px;
}
div.midia > img{
    display: block;
    margin: auto;
}
div.midia > iframe{
    display: block;
    margin: auto;
    width: 90%;
}